<%- include('./partials/head') %>

  <main>
    <div class="commentary-tool-wrapper">
      <svg class="logo" width="350" height="150" viewBox="0 0 500 707" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M132.112 362.611C129.222 378.11 120.446 391.869 107.642 400.978C94.319 410.942 78.5489 415.923 59.7887 415.923C42.3883 415.923 28.2487 411.687 17.1017 403.217C5.95471 394.748 0.512817 384.036 0.512817 371.081C0.703847 367.646 1.15849 364.231 1.87268 360.867L17.3698 279.897C18.0586 276.972 19.7373 274.379 22.1184 272.561C24.4995 270.744 27.435 269.815 30.4225 269.933H64.9528L47.5475 359.87C47.251 361.095 47.0691 362.346 47.004 363.606C46.8913 365.523 47.2556 367.438 48.064 369.178C48.8725 370.919 50.0996 372.429 51.6344 373.572C55.0325 376.273 59.268 377.684 63.5978 377.558C68.9643 377.695 74.2234 376.032 78.5465 372.832C80.6134 371.382 82.3742 369.534 83.7273 367.396C85.0804 365.257 85.999 362.871 86.4303 360.374L103.843 270.178H149.513L132.112 362.611Z"
          fill="black" />
        <path
          d="M260.513 376.738L253.491 413.923H146.513L172.177 279.667C172.85 276.803 174.485 274.266 176.802 272.49C179.118 270.714 181.972 269.811 184.874 269.934H219.451L198.921 376.989H260.513V376.738Z"
          fill="black" />
        <path
          d="M397.18 306.864H356.163L335.519 413.923H289.884L310.527 306.867H269.513L274.672 279.914C275.36 276.984 277.036 274.387 279.415 272.566C281.793 270.745 284.725 269.814 287.71 269.933H404.513L397.18 306.864Z"
          fill="black" />
        <path
          d="M437.935 413.923H392.513L418.2 279.894C418.885 276.97 420.554 274.378 422.921 272.561C425.288 270.743 428.207 269.815 431.177 269.933H465.513L437.935 413.923Z"
          fill="black" />
        <path
          d="M678.125 306.864H636.805L616.008 413.923H570.035L590.831 306.867H549.513L554.71 279.914C555.403 276.984 557.092 274.387 559.488 272.566C561.884 270.745 564.838 269.814 567.844 269.933H685.513L678.125 306.864Z"
          fill="black" />
        <path
          d="M738.672 413.923H721.269C721.269 413.923 698.275 284.372 697.919 281.168C698.099 278.049 699.39 275.097 701.558 272.848C703.725 270.6 706.626 269.202 709.735 268.909C717.976 268.58 738.663 268.909 738.663 268.909L753.443 372.337L802.501 268.924L846.133 268.805L769.019 413.923H738.672Z"
          fill="black" />
        <path
          d="M619.493 82.9182C619.571 83.2313 685.399 110.979 728.002 134.205C770.606 157.431 811.051 182.657 868.847 225.072C926.643 267.487 945.773 303.4 941.11 333.433C936.329 362.978 916.195 387.024 902.589 401.838C879.807 427.041 856.344 441.79 807.16 469.894C757.977 497.998 745.133 503.352 692.003 517.097C638.874 530.842 603.581 532.148 573.537 522.433C548.545 514.352 528.794 495.578 521.68 467.462C512.269 430.274 510.192 391.165 509.522 345.614C508.853 300.063 509.673 281.208 513.018 230.161C516.364 179.115 517.442 182.815 516.67 178.507C515.899 174.2 507.41 212.631 503.376 251.507C492.041 360.705 488.881 389.881 491.282 460.61C493.683 531.338 518.67 565.67 548.545 583.309C578.421 600.948 642.865 600.261 712.863 571.927C782.862 543.592 764.41 550.548 817.415 522.421C870.419 494.294 897.705 471.689 922.255 451.291C946.804 430.893 986.019 384.116 985.464 333.42C984.909 282.725 958.922 265.325 941.106 246.814C923.291 228.303 893.137 207.719 856.169 184.565C819.201 161.412 797.202 152.839 745.207 127.777C693.213 102.716 619.571 82.2418 619.493 82.9182Z"
          fill="black" />
      </svg>

      <h1>
        <span class="commentary-text"> Commentary</span>
        <span class="tool"> tool</span>
      </h1>
      <div class="game-conditions-wrapper">
        <div class="game-condition-line">
          <!-- <p class="game-conditions">Field</p> -->
          <div class="condition-icon-wrapper">
            <img class="condition-icon" src="https://cdn-icons-png.flaticon.com/512/795/795323.png" alt="" />
          </div>
          <h3>
            <%= data1.field %>
          </h3>
        </div>
        <div class="game-condition-line">
          <div class="condition-icon-wrapper">
            <img class="condition-icon" src="https://cdn-icons-png.flaticon.com/512/1204/1204035.png" alt="" />
          </div>

          <h3>
            <%= data1.division %>
          </h3>
        </div>
        <div class="game-condition-line">
          <div class="condition-icon-wrapper">
            <img class="condition-icon" src="https://cdn-icons-png.flaticon.com/512/1145/1145277.png" alt="" />
          </div>

          <h3>
            <%= data1.gameStatus %>
          </h3>
        </div>

        <div class="game-condition-line">
          <div class="condition-icon-wrapper">
            <img class="condition-icon" src="https://cdn-icons-png.flaticon.com/512/3389/3389023.png" alt="" />
          </div>

          <h3>
            <%= data1.broadcaster %>
          </h3>
        </div>
      </div>
    </div>

    <div class="random-facts-wrapper">
      <!-- <h4>Facts</h4> -->
      <img class="dice icon-darkmode" src="https://cdn-icons-png.flaticon.com/512/246/246569.png" alt="" />
      <p class="random-fact">
        <strong>Beau Kittredge</strong> is a well-known ultimate frisbee player
        who has won multiple championships with various teams. In addition to his
        accomplishments on the field, he is also a trained opera singer and has
        performed in several productions.
      </p>
    </div>

    <div class="score-wrapper">
      <div class="score-line"></div>
      <!-- <h4>Score</h4> -->
      <div class="team1 teams">
        <img class="team-logo" src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Android_O_Preview_Logo.png"
          alt="" />
        <h2>
          <%= data1.team1Name %>
        </h2>
      </div>
      <div class="score">
        <div class="shirt-color-1"></div>
        <span class="score1">
          <%= data2.team1Score %>
        </span><span>
          <%= data2.team2Score %>
        </span>
        <div class="shirt-color-2"></div>
      </div>
      <div class="team2 teams">
        <img class="team-logo"
          src="https://preview.redd.it/x4fvj9wh9dy71.png?width=702&format=png&auto=webp&s=e5040778e3ac0098f6a180475d3a693a40b92d1a"
          alt="" />
        <h2>
          <%= data1.team2Name %>
        </h2>
      </div>
    </div>

    <div class="game-stats-wrapper">
      <!-- <h4>Stats</h4> -->
      <table cellspacing="10" cellpadding="0">
        <thead>
          <tr>
            <td>pass</td>
            <td>turn</td>
            <td>O/D</td>
            <td>Score</td>
            <td>O/D</td>
            <td>turn</td>
            <td>pass</td>
          </tr>
        </thead>

        <tbody>
          <% data2.scoredPoints.forEach(point=> { %> <% if (point.scored===point.team1Name) { %>
              <% if (point.team1OorD==="O" ) { %>
                <tr class="score-info">
                  <td>
                    <%= point.team1Passes %>
                  </td>
                  <td>
                    <%= point.team1Turnovers %>
                  </td>
                  <td>
                    <%= point.team1OorD %>
                  </td>
                  <td>
                    <%= point.team1Score %> - <%= point.team2Score %>
                  </td>
                  <td>
                    <%= point.team2OorD %>
                  </td>
                  <td>
                    <%= point.team2Turnovers %>
                  </td>
                  <td>
                    <%= point.team2Passes %>
                  </td>
                </tr>
                <% } else {%>
                  <tr class="score-info-team-1 green">
                    <td>
                      <%= point.team1Passes %>
                    </td>
                    <td>
                      <%= point.team1Turnovers %>
                    </td>
                    <td>
                      <%= point.team1OorD %>
                    </td>
                    <td>
                      <%= point.team1Score %> - <%= point.team2Score %>
                    </td>
                    <td>
                      <%= point.team2OorD %>
                    </td>
                    <td>
                      <%= point.team2Turnovers %>
                    </td>
                    <td>
                      <%= point.team2Passes %>
                    </td>
                  </tr>
                  <% } %>
                    <% } else { %>
                      <% if (point.team1OorD==="D" ) { %>
                        <tr class="score-info-team-1 dark-red">
                          <td>
                            <%= point.team1Passes %>
                          </td>
                          <td>
                            <%= point.team1Turnovers %>
                          </td>
                          <td>
                            <%= point.team1OorD %>
                          </td>
                          <td>
                            <%= point.team1Score %> - <%= point.team2Score %>
                          </td>
                          <td>
                            <%= point.team2OorD %>
                          </td>
                          <td>
                            <%= point.team2Turnovers %>
                          </td>
                          <td>
                            <%= point.team2Passes %>
                          </td>
                        </tr>
                        <% } else {%>
                          <tr class="score-info-team-1 red">
                            <td>
                              <%= point.team1Passes %>
                            </td>
                            <td>
                              <%= point.team1Turnovers %>
                            </td>
                            <td>
                              <%= point.team1OorD %>
                            </td>
                            <td>
                              <%= point.team1Score %> - <%= point.team2Score %>
                            </td>
                            <td>
                              <%= point.team2OorD %>
                            </td>
                            <td>
                              <%= point.team2Turnovers %>
                            </td>
                            <td>
                              <%= point.team2Passes %>
                            </td>
                          </tr>
                          <tr class="score-info-team-1 red">
                            <td>
                              <%= point.team1Passes %>
                            </td>
                            <td>
                              <%= point.team1Turnovers %>
                            </td>
                            <td>
                              <%= point.team1OorD %>
                            </td>
                            <td>
                              <%= point.team1Score %> - <%= point.team2Score %>
                            </td>
                            <td>
                              <%= point.team2OorD %>
                            </td>
                            <td>
                              <%= point.team2Turnovers %>
                            </td>
                            <td>
                              <%= point.team2Passes %>
                            </td>
                          </tr>
                          <tr class="score-info-team-1 red">
                            <td>
                              <%= point.team1Passes %>
                            </td>
                            <td>
                              <%= point.team1Turnovers %>
                            </td>
                            <td>
                              <%= point.team1OorD %>
                            </td>
                            <td>
                              <%= point.team1Score %> - <%= point.team2Score %>
                            </td>
                            <td>
                              <%= point.team2OorD %>
                            </td>
                            <td>
                              <%= point.team2Turnovers %>
                            </td>
                            <td>
                              <%= point.team2Passes %>
                            </td>
                          </tr>
                          <tr class="score-info-team-1 red">
                            <td>
                              <%= point.team1Passes %>
                            </td>
                            <td>
                              <%= point.team1Turnovers %>
                            </td>
                            <td>
                              <%= point.team1OorD %>
                            </td>
                            <td>
                              <%= point.team1Score %> - <%= point.team2Score %>
                            </td>
                            <td>
                              <%= point.team2OorD %>
                            </td>
                            <td>
                              <%= point.team2Turnovers %>
                            </td>
                            <td>
                              <%= point.team2Passes %>
                            </td>
                          </tr>
                          <% } %>
                            <% } %>
                              <% }) %>
        </tbody>
      </table>
    </div>

    <div class="team1-players-wrapper players-wrapper">
      <h4>
        <%= data1.team1Name %>
      </h4>
      <% data1.team1Players.forEach(player=> { %> <%# Player card %>
          <article id="<%= player.playerId %>" class="player-line">
            <div class="player-info">
              <p class="player-text">
                <span class="jersey-number">
                  <%= player.jerseyNumber %>
                </span>
                <%= player.name %>
              </p>
              <img class="info-icon icon-darkmode" src="https://cdn-icons-png.flaticon.com/512/471/471713.png" alt="" />
              <div class="dots">
                <div class="dot green-dot"></div>
                <div class="dot blue-dot"></div>
                <div class="dot red-dot"></div>
                <div class="dot yellow-dot"></div>
              </div>
            </div>
            <div class="line"></div>
          </article>
          <% }) %>
            <h4>
              <%= data1.team2Name %>
            </h4>
            <% data1.team2Players.forEach(player=> { %> <%# Player card %>
                <article id="<%= player.playerId %>" class="player-line">
                  <div class="player-info">
                    <p class="player-text">
                      <span class="jersey-number">
                        <%= player.jerseyNumber %>
                      </span>
                      <%= player.name %>
                    </p>
                    <img class="info-icon" src="https://cdn-icons-png.flaticon.com/512/471/471713.png" alt="" />
                    <div class="dots">
                      <div class="dot green-dot"></div>
                      <div class="dot blue-dot"></div>
                      <div class="dot red-dot"></div>
                      <div class="dot yellow-dot"></div>
                    </div>
                  </div>
                  <div class="line"></div>
                </article>
                <% }) %>
    </div>
    <div class="sidebar-right-wrapper">
      <div class="sidebar-button-wrapper">
        <div class="points-button sidebar-button">
          <img class="sidebar-icons icon-darkmode" src="https://cdn-icons-png.flaticon.com/512/7613/7613816.png"
            alt="" />
        </div>
        <div class="stats-button sidebar-button">
          <img class="sidebar-icons icon-darkmode" src="https://cdn-icons-png.flaticon.com/512/711/711976.png" alt="" />
        </div>
        <div class="config-button sidebar-button">
          <img class="sidebar-icons icon-darkmode" src="https://cdn-icons-png.flaticon.com/512/1242/1242392.png"
            alt="" />
        </div>
        <div class="config-button sidebar-button">
          <img class="sidebar-icons darkmode" src="https://cdn-icons-png.flaticon.com/512/42/42146.png" alt="" />
        </div>
      </div>
      <h5>© 2023 - Commentary Source</h5>
    </div>

    <div class="form-overlay-wrapper">
      <h4>Add player</h4>
      <div class="player-form">
        <form action="/" method="POST" name="newPlayer">

          <div class="form-row">
            <div class="label-form-wrapper">
              <label for="name">Name</label>
            </div>
            <input type="text" name="name" required />
          </div>

          <div class="form-row">
            <div class="label-form-wrapper">
              <label for="gender">Gender</label>
            </div>
            <input type="text" name="gender" required />
          </div>

          <div class="form-row">
            <div class="label-form-wrapper">
              <label for="jersey-number">Jersey number</label>
            </div>
            <input type="number" name="jerseyNumber" required />
          </div>

          <div class="form-row">
            <div class="label-form-wrapper">
              <label for="team">Team</label>
            </div>
            <input type="text" name="team" required />
          </div>
          <h4>questions</h4>
          <div class="form-questions">
            <% data5.questions.forEach(question=> { %>
              <label for="<%= question.id %>"><%= question.title %>
                <input name="question" value="<%= question.id%>" hidden> 
              </label>
              <input class="questions-label" type="text" name="content" required />
              <% }) %>
                <button id="submit" type="submit">
                  <h4>Submit</h4>
                </button>
          </div>
        </form>
      </div>
    </div>
  </main>

  <%- include('./partials/foot') %>